<section class="container" id="about">
  <div class="row">
    <div class="col-12">
      <div class="text-center w-75 mx-auto">
        <h2 class="text-white fs-1 fade-in">Sobre SemantiQ AI</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="p-3 h-100 d-flex align-items-center">
                <h3 class="text-white m-0 fade-in">
                  Diseñado para optimizar la consulta y gestión de documentos
                  mediante inteligencia artificial y RAG
                </h3>
              </div>
            </div>
            <div class="col-6">
              <div class="p-3 fade-in">
                <i class="bi bi-robot"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="p-3 fade-in">
                <i class="bi bi-backpack"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="p-3 h-100 d-flex align-items-center">
                <h3 class="text-white fade-in">
                  Este sistema está especialmente dirigido a entornos académicos
                  y empresariales, donde el manejo de grandes volúmenes de
                  información es crucial.
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const fadeElements = document.querySelectorAll(".fade-in");

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.5 }
  );

  fadeElements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style>
  section {
    padding-top: 4em;
    margin-bottom: 3em;
  }

  i {
    color: var(--color-purple);
    font-size: 15em;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition:
      opacity 1s ease-out,
      transform 1s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>
