<section class="container" id="about">
  <div class="row">
    <div class="col-12">
      <div class="text-center w-75 mx-auto">
        <h2 class="text-white fs-1">Sobre SemantiQ AI</h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="p-3 h-100 d-flex align-items-center">
                <h3 class="text-white m-0">
                  Diseñado para optimizar la consulta y gestión de documentos
                  mediante inteligencia artificial y RAG
                </h3>
              </div>
            </div>
            <div class="col-6">
              <div class="p-3">
                <i class="bi bi-robot"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="p-3">
                <i class="bi bi-backpack"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="p-3 h-100 d-flex align-items-center">
                <h3 class="text-white">
                  Este sistema está especialmente dirigido a entornos académicos
                  y empresariales, donde el manejo de grandes volúmenes de
                  información es crucial.
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    padding-top: 4em;
    margin-bottom: 3em;
  }

  i {
    color: var(--color-purple);
    font-size: 15em;
  }
</style>
