<footer class="text-white text-center">
  <div class="footer-content">
    <p>&copy; 2025 SemantiQ AI. Todos los derechos reservados.</p>
    <nav>
      <ul class="list-unstyled">
        <li><a class="text-white" href="">Términos y condiciones</a></li>
      </ul>
    </nav>
  </div>
  <style>
    a:hover {
        color: var(--color-purple) !important;
    }
  </style>
</footer>
