<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav py-2 px-4 rounded-5 m-0 mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="navbar-brand text-white" href="#">SemantiQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#about"
            >Sobre</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#how">Como funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Precios</a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-purple rounded-5 text-white"
            href="https://semantiqai.daw.iesevalorpego.es"
            target="_blank">Pruébalo ahora!</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  nav {
    background-color: transparent !important;
  }

  ul {
    background-color: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px); !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn-purple {
    background-color: var(--color-purple) !important;
  }

  .btn-purple:hover {
    background-color: var(--color-bg) !important;
    border: 1px solid var(--color-purple) !important;
    color: var(--color-purple) !important;
  }
</style>
