---
import Button from "./Button.astro";
---

<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <button
      class="navbar-toggler color-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav py-2 px-4 rounded-5 m-0 mb-2 mb-lg-0 d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="navbar-brand text-white" href="https://semantiqailanding.daw.iesevalorpego.es/">
            <img src="/favicon.svg" alt="SemantiQ AI Logo" width="40" height="40" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="https://semantiqailanding.daw.iesevalorpego.es/#about"
            >Sobre</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://semantiqailanding.daw.iesevalorpego.es/#how">Como funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://semantiqailanding.daw.iesevalorpego.es/#pricing">Precios</a>
        </li>
        <li class="nav-item">
          <Button />
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  nav {
    background-color: transparent !important;
  }

  ul {
    background-color: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-toggler {
    border: 0 !important;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
</style>
