<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="pt-5 mt-4 text-center">
        <h1 class="text-white">
          Información inteligente, <br /> respuestas instantáneas.
        </h1>
      </div>
    </div>
    <div class="col-12">
      <div class="w-100 rounded-5" id="hero-color">
        <img class="d-block mx-auto" id="animated-image" src="/hero.png" alt="" />
      </div>
    </div>
  </div>
</section>

<script>
  window.onload = () => {
    const img = document.getElementById("animated-image");
    img?.classList.add("animate");
  };
</script>

<style>
  #hero-color {
    height: 362px;
    background-color: var(--color-purple);
    margin-top: 10em;
    margin-bottom: 3em;
  }

  img {
    opacity: 0;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
  }

  .animate {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(-23%);
    }
  }
</style>
