<section class="container" id="how">
  <div class="row">
    <div class="col-12">
      <div class="text-center w-75 mx-auto">
        <h2 class="text-white fs-1 my-5 fade-in">Como funciona</h2>
        <div class="container-fluid py-5">
          <div class="row g-4">
            <div class="col-5">
              <div class="card h-100 rounded-5 p-3 fade-in">
                <div class="card-title w-100 d-flex gap-3 align-items-center">
                  <p
                    class="fw-bold fs-4 rounded-circle p-2 text-white m-0 step-number"
                  >
                    01
                  </p>
                  <p class="fw-bold fs-4 text-white m-0">Crea una cuenta</p>
                </div>
                <p class="card-text text-white text-start ps-5 ms-2">
                  Regístrate en SemantiQ AI y crea una cuenta gratuita para
                  comenzar a utilizar el sistema.
                </p>
              </div>
            </div>
            <div class="col-7">
              <div class="card h-100 rounded-5 p-3 fade-in">
                <div class="card-title w-100 d-flex gap-3 align-items-center">
                  <p
                    class="fw-bold fs-4 rounded-circle p-2 text-white m-0 step-number"
                  >
                    02
                  </p>
                  <p class="fw-bold fs-4 text-white m-0">Sube tus documentos</p>
                </div>
                <p class="card-text text-white text-start ps-5 ms-2">
                  Sube tus documentos en formato PDF o TXT a la plataforma de
                  SemantiQ AI.
                </p>
              </div>
            </div>
            <div class="col-7">
              <div class="card h-100 rounded-5 p-3 fade-in">
                <div class="card-title w-100 d-flex gap-3 align-items-center">
                  <p
                    class="fw-bold fs-4 rounded-circle p-2 text-white m-0 step-number"
                  >
                    03
                  </p>
                  <p class="fw-bold fs-4 text-white m-0">Consulta la IA</p>
                </div>
                <p class="card-text text-white text-start ps-5 ms-2">
                  Realiza preguntas a la IA sobre el contenido de tus documentos
                  y obtén respuestas precisas y rápidas.
                </p>
              </div>
            </div>
            <div class="col-5">
              <div class="card h-100 rounded-5 p-3 fade-in">
                <div class="card-title w-100 d-flex gap-3 align-items-center">
                  <p
                    class="fw-bold fs-4 rounded-circle p-2 text-white m-0 step-number"
                  >
                    04
                  </p>
                  <p class="fw-bold fs-4 text-white m-0">
                    Analiza estadísticas
                  </p>
                </div>
                <p class="card-text text-white text-start ps-5 ms-2">
                  Analiza las estadísticas de tus documentos y obtén información
                  valiosa sobre su contenido.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const fadeElements = document.querySelectorAll(".fade-in");

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.5 }
  );

  fadeElements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style>
    section {
        margin-bottom: 3em;
    }
  .card {
    background: var(--color-grey) !important;
  }

  .step-number {
    color: var(--color-purple) !important;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition:
      opacity 1s ease-out,
      transform 1s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>
